<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>chatroom</title>-->

<!--    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">-->
<!--&lt;!&ndash;    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">&ndash;&gt;-->
<!--    <link rel="icon" href="images/favicon.ico">-->

<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>-->
<!--    <script src="https://code.jquery.com/jquery.js"></script>-->
<!--    <script src="javascripts/bootstrap.min.js"></script>-->
<!--&lt;!&ndash;    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>&ndash;&gt;-->
<!--    <script src="javascripts/wavebell.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>-->
<!--    &lt;!&ndash;    <script src="https://unpkg.com/wavesurfer.js"></script>&ndash;&gt;-->


<!--    <link href="stylesheets/index.css" rel="stylesheet">-->
<!--    <link href="stylesheets/menu.css" rel="stylesheet">-->
<!--    <link href="stylesheets/question.css" rel="stylesheet">-->
<!--    <link href="stylesheets/chat.css" rel="stylesheet">-->

<!--    &lt;!&ndash;    <script src="javascripts/init.js"></script>&ndash;&gt;-->
<!--&lt;!&ndash;    <script src="javascripts/nav.js"></script>&ndash;&gt;-->
<!--&lt;!&ndash;    <script src="javascripts/menu.js"></script>&ndash;&gt;-->
<!--&lt;!&ndash;    <script src="javascripts/question.js"></script>&ndash;&gt;-->
<!--</head>-->
<!--<body>-->
<!--<div class="chatroom">-->
<!--    <div class="chatroom-top">-->
<!--        <img src="images/back.png">-->
<!--        <div class="chatroom-title">chatroom</div>-->
<!--    </div>-->
<!--    <div class="chatroom-body">-->
<!--    </div>-->
<!--    <div class="chatroom-bottom">-->
<!--        <div class="input-group mb-3">-->
<!--        <input type="text" class="form-control">-->
<!--        <div class="input-group-append">-->
<!--            <button class="btn btn-primary" type="submit" id="chatroom-send">Send</button>-->
<!--        </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
