<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>chatroom</title>
</head>
<body>
<div class="chat-room-top">chat room </div>
<div class="chat-content"></div>
<div class="bottom">
    <input type="text" id="chat-room-txt">
    <button class="chat-room-send">send</button>
</div>
</body>
</html>
