<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Home</title>-->

<!--    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">-->
<!--    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">-->

<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>-->
<!--    <script src="https://code.jquery.com/jquery.js"></script>-->
<!--    <script src="javascripts/bootstrap.min.js"></script>-->
<!--    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>-->
<!--    <script src="javascripts/wavebell.js"></script>-->
<!--&lt;!&ndash;    <script src="https://unpkg.com/wavesurfer.js"></script>&ndash;&gt;-->


<!--    <link href="stylesheets/index.css" rel="stylesheet">-->
<!--    <link href="stylesheets/menu.css" rel="stylesheet">-->
<!--    <link href="stylesheets/nearby.css" rel="stylesheet">-->
<!--    <link href="stylesheets/article.css" rel="stylesheet">-->
<!--    <link href="stylesheets/question.css" rel="stylesheet">-->
<!--    <link href="stylesheets/answer.css" rel="stylesheet">-->
<!--&lt;!&ndash;    <link href="stylesheets/log.css" rel="stylesheet">&ndash;&gt;-->

<!--    <script src="javascripts/nav.js"></script>-->
<!--    <script src="javascripts/menu.js"></script>-->
<!--    <script src="javascripts/article.js"></script>-->
<!--    <script src="javascripts/question.js"></script>-->
<!--    <script src="javascripts/answer.js"></script>-->
<!--    <script src="javascripts/nearby.js"></script>-->
<!--    <script src="javascripts/log.js"></script>-->
<!--&lt;!&ndash;    <script src="javascripts/other.js"></script>&ndash;&gt;-->
<!--</head>-->
<!--<body>-->
<!--    <div class="pop-up">-->
<!--    <div class="pop-up-avatar">-->
<!--        <img src="images/user-default.png" id="pop-up-avatar" alt="Avatar">-->
<!--        Unknown User-->
<!--    </div>-->
<!--    <div class="history">-->
<!--        <img src="images/history.png" id="history" alt=""/>-->
<!--        History-->
<!--    </div>-->
<!--    <div class="report">-->
<!--        <img src="images/report.png" id="report" alt=""/>-->
<!--        Report-->
<!--    </div>-->
<!--    <div class="premium">-->
<!--        <img src="images/premium.png" id="premium" alt=""/>-->
<!--        Premium-->
<!--    </div>-->
<!--    <hr>-->
<!--    <div class="settings">-->
<!--        <img src="images/settings.png" id="settings" alt=""/>-->
<!--        Settings-->
<!--    </div>-->
<!--    <div class="help">-->
<!--        <img src="images/help.png" id="help" alt=""/>-->
<!--        Help-->
<!--    </div>-->
<!--    <div class="contact">-->
<!--        <img src="images/contact.png" id="contact" alt=""/>-->
<!--        Contact Us-->
<!--    </div>-->
<!--    <div class="log-out" onclick="clickLogout()">-->
<!--        <img src="images/logout.png" id="log-out"  alt=""/>-->
<!--        Log out-->
<!--    </div>-->
<!--</div>-->
<!--    <div class="index">-->
<!--    <div class="top">-->
<!--        <img src="images/user-default.png" alt="Avatar" id="avatar" onclick="clickMenu()">-->
<!--    </div>-->
<!--    <div class="middle" id="middle">-->
<!--    </div>-->
<!--    <nav class="bottom">-->
<!--        <div id="icon-0" onclick="clickNav(0)">-->
<!--            <img src="images/que.png"  class= "icon-que active" alt=""/>-->
<!--        </div>-->
<!--        <div id="icon-1" onclick="clickNav(1)">-->
<!--            <img src="images/ans.png" class="icon-ans" alt=""/>-->
<!--        </div>-->
<!--        <div id="icon-2" onclick="clickNav(2)">-->
<!--            <img src="images/loc.png" class="icon-loc" alt=""/>-->
<!--        </div>-->
<!--        <div id="icon-3" onclick="clickNav(3)">-->
<!--            <img src="images/search.png" class="icon-search" alt=""/>-->
<!--        </div>-->
<!--    </nav>-->
<!--    </div>-->
<!--</body>-->
<!--</html>-->
