<nav class="bottom">
    <div id="icon-0" onclick="clickNav(0)">
        <img src="images/home-active.png"  class= "icon-que" alt=""/>
        <div class="nav-text">Home</div>
    </div>
    <div id="icon-1" onclick="clickNav(1)">
        <img src="images/que.png" class="icon-ans" alt=""/>
        <div class="nav-text">Q&A</div>
    </div>
    <div id="icon-2" onclick="clickNav(2)">
        <img src="images/profile.png" class="icon-loc" alt=""/>
        <div class="nav-text">Profile</div>
    </div>
</nav>
