<div class="chatroom">
    <div class="chatroom-top">
        <img src="../../images/close-sq.png" id="chatroom-leave">
        <div class="chatroom-title">chatroom</div>
    </div>
    <div class="chatroom-body">
    </div>
    <div class="chatroom-bottom">
        <div class="input-group mb-3">
            <input type="text" class="form-control">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit" id="chatroom-send">Send</button>
            </div>
        </div>
    </div>
</div>
