<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Info</title>

    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="images/favicon.ico">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>

    <link href="stylesheets/contact.css" rel="stylesheet">
    <link href="stylesheets/chat.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="javascripts/contact.js"></script>

</head>
<body>
<div class="contact">
    <img src="images/back.png" id="contact-back"/>
    <div id="contact-info">
        <div class="dev-name">Group members:</div>
        <div class="dev-name">Shuchang Liu</div>
        <div class="dev-name">Sahba Mobini Faharani</div>
        <div class="dev-name">Ivan Luu</div>
        <div class="dev-name">Aaron Brown</div>
        <div class="contact-method">
        <img src="images/phone.png">
        Tel: (858)-531-8849
        </div>
        <div class="contact-method">
        <img src="images/email.png">
        Email:s7liu@ucsd.edu
        </div>
    </div>
    <div class="chatroom">
        <div class="chatroom-top">
            <img src="images/close-sq.png">
            <div class="chatroom-title">chatroom</div>
        </div>
        <div class="chatroom-body">

        </div>
        <div class="chatroom-bottom">
            <div class="input-group mb-3">
                <input type="text" class="form-control">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit" id="chatroom-send">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
