<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Info</title>
    <link href="stylesheets/contact.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="javascripts/contact.js"></script>

</head>
<body>
<div>
    <img src="images/back.png" id="contact-back" />
    <div id="contact-info">
        contactXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
    </div>
</div>
</body>
</html>
