<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Help Info</title>
    <link href="stylesheets/help.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="javascripts/help.js"></script>
</head>
<body>
<div>
    <img src="images/back.png" id="help-back" />
    <div id="help-info">
        helpXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
    </div>
</div>
</body>
</html>
