<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Help Info</title>
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="images/favicon.ico">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>

    <link href="stylesheets/help.css" rel="stylesheet">
    <link href="stylesheets/chat.css" rel="stylesheet">
    <script src="javascripts/init.js"></script>
    <script src="javascripts/socket.js"></script>
    <script src="javascripts/help.js"></script>
</head>
<body>
<div class="help">
    <div class="index">
        <div class="help-back">
        <img src="images/back-white.png" id="help-back"/>
        </div>
        <div id="alert-placeholder">
        </div>
        <div id="help-info">
            <div class="help-title">Help</div>
            This is a help document, this project has 3 parts:<br/>
            Home, Q&A and user profile. Now our app supports:<br/>
            1. User login (username & password)<br/>
            2. User SignUp, user could upload their own avatars<br/>
            3. Home section, introduces common phenomenon of car problems, may include common questions
            and answers in the future. The search box could work, but since we use exact match,
            the user could only search fixed words like ‘batteryLow’, fuzzy match is not supported now.<br/>
            4. Chat room section. If the user couldn’t find best answer in the provided information in the ‘home’
            section, then he/she may want to use our chatroom function to chat with an online expert.
            The user could type in his question and select an expert from online users provided in the dropdown menu.
            A question will cost 1 coin, the user could get 1 free coin to ask a question.
            The user could get coins payment by answering questions in the near future.<br/>
            5. User profile. The user could always check his/her profile by clicking the button at the bottom.<br/>
            6. Help and contact info. Help documents will be finished in the near future.<br/>
        </div>
    </div>
    <%- include ('chat.ejs') %>
</div>
</body>
</html>
