<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/index.css" rel="stylesheet">
    <link href="stylesheets/log.css" rel="stylesheet">
    <link rel="icon" href="images/favicon.ico">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/log.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
</head>
<body>
<form id="middle-login" class="log">
    <div>
        <span >Username:</span>
        <input type="text" class="form-control" id="login-username" >
    </div>
    <div>
        <span >Password:</span>
        <input type="text" class="form-control" id="login-password" >
    </div>
    <div class="third-party">
        <div>GOOGLE</div>
        <div>FACEBOOK</div>
        <div>TWITTER</div>
    </div>
    <button class="btn" type="button" id="log-in" onclick="clickLogin()">Log in</button>
    <div class="sign-up" id="sign-up" onclick="clickSignup()"> Sign up</div>
</form>
</body>
</html>
