<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Help Info</title>
    <link href="stylesheets/settings.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="javascripts/settings.js"></script>
</head>
<body>
<div>
    <img src="images/back.png" id="settings-back" />
    <div id="settings-info">
        Add people to black list:
        <input type="text" class="accessories-input form-control" list="accessories-select"/>
    </div>
</div>
</body>
</html>
