#contact-back{
    height:5vh;
    width:5vh;
    margin-left: 2vh;
    margin-top: 2vh;
}

.contact-method{
    height:5vh;
    margin-top: 2vh;
    margin-left: 20vw;
}

.contact-method img{
    height:3vh;
    width:3vh;
}


.contact{
    background-color: white;
    height:100vh;
    width:100%;
}

.contact .index{
    font-size: xx-large;
}

.contact .dev-name{
    margin-top: 1vh;
    margin-left: 20vw;
}

#contact-info{
    margin-top:30vh;
}
