#help-back{
    height:5vh;
    width:5vh;
    margin-left: 2.5vh;
    margin-top: 2.5vh;
}
.help-back{
    height:10vh;
    background-color: #ee4723;
}

.help{
    background-color: white;
    height:100vh;
    width:100vw;
    font-size: x-large;
}

.help-title{
    font-size: xx-large;
    text-align: center;
}

#help-info{
    width:80vw;
    margin-left: 10vw;
}
