.intro-first{
    background-color: white;
    height:8vh;
    width:90vw;
    font-size: xx-large;
    text-align:left;
    line-height:8vh;
    border-radius: 50px;
    border:2px solid
}

.intro-first img{
    height:5vh;
    width:5vh;
    margin-right:5vh;
    margin-left: 3vh;
}

.intro-second{
    background-color: white;
    height:6vh;
    width:90vw;
    margin-top: 2vh;
    font-size: xx-large;
    text-align:left;
    line-height:5vh;
    border-radius: 30px;
    border:2px solid
}

.intro-item{
    margin-top:3vh;
}

.intro-items{
    height:66vh;
    overflow: scroll;
}

.intro-second img{
    height:5vh;
    width:5vh;
    margin-right:5vh;
    margin-left: 3vh;
}

.intro-third{
    height:71vh;
    margin-top: 2vh;
    font-size: x-large;
    overflow-y: auto;
}

.intro-third img{
    height:7vh;
    width:7vh;
    margin-right:3vh;
    margin-left: 3vh;
}

#home-intro{
    height:5vh;
    width:100%;
    font-size: xx-large;
    padding-top: 3vh;
    padding-left: 2.5vh;
}

.first-level input{
    height:5vh;
    width:100%;
    font-size: xx-large;
    border-radius:20px;
}

.second-level input{
    margin-top: 2vh;
    height:5vh;
    width:100%;
    font-size: x-large;
    border-radius:20px;
}

.container{
    max-width: 1000px;
    width:90vw;
    padding:0;
    margin-left:5vw;
    margin-right: 5vw;
}

.home-back img{
    height:5vh;
    width:5vh;
    margin-right: 1vh;
}

.home-back{
    line-height:5vh;
    font-size: x-large;
    height:5vh;
    margin-top: 2vh;
}

#home-search-1{
    margin-top:4vh;
}
