#middle-nearby{
    height:100%;
    width:90%;
    /*width:90%;*/
    margin: 3vh 5vw;
    /*background-color: #1b1e21;*/
    /*height:100%;*/
    /*margin: 3vh 5vw;*/
    /*position:absolute;*/
    /*padding-left:5vw;*/
    /*padding-right:5vw;*/
    /*margin-top: 10vh;*/
    /*width:100%;*/
    /*z-index: 2;*/
}

.nearby-search{
    position:absolute;
    top:30vh;
    margin-left:5vw;
    z-index: 2;
}

#sites-choice{
    background-color: #1c7430;
    padding-left:3vh;
    padding-right:3vh;
}

#sites-choice .row{
    display:flex;
    justify-content: space-between;
}

#sites-choice img{
    height:4vh;
    width:4vh;
    margin:1vh;
}

#googleMap{
    /*flex:1;*/
    /*position:relative;*/
    height:74vh;
    width:100%;
}

.btn{
    border:2px solid;
    background-color: white;
    color:black;
}
