.profile{
    padding-top: 1vh;
    font-size: xx-large;
}

.profile .card{
    display: inline-block;
    height:5vh;
    width:100%;
    vertical-align: center;
    line-height: 5vh;
    margin-top:2vh;
    border: 2px dashed #ee4723;
}

.profile .profile-imgs{
    height:3vh;
    width:3vh;
    margin: 1vh;
}

.container{
    max-width: 1000px;
    width:90%;
}

#profile-name{
    font-size: 60px;
    margin-top: 3vw;
    text-align: center;
}

#profile-name #user-img{
    height:40vw;
    width:40vw;
    border-radius: 50%;
    z-index:2;
    padding:5vw;
    border: 15px solid #ee4723;
}
