#settings-back{
    height:5vh;
    width:5vh;
    margin-left: 2.5vh;
}

#settings-info input{
    margin-top:5vh;
    height:3vh;
    width:50vw;
}

#settings-info button{
    margin-top:5vh;
    height:3vh;
    width:10vw;
    background-color: #ee4723;
    color:white;
}
